.container-modal {
  width: 100%;
  min-height: 100%;
  background-color: #0000007F;
  overflow-y: auto;
}


.mat-mdc-slider {
  --mat-mdc-slider-value-indicator-opacity: 1;
  margin-inline: 0;
  /*opacity: 1;*/
}

/*tambien .mdc-text-field*/
:host ::ng-deep .mdc-text-field--filled {
  background-color: #FFEBB7
}

