<div *ngIf="formConfig.showForm">
  <div class="row justify-content-md-center">
    <div class="col-lg-8">
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">


        <label class="container-label ">{{ formExperience?.getPrimaryInfoLabel() }}</label>
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <mat-label>{{'Agregar un ' + formExperience?.getPrimaryInfoLabel() }}</mat-label>
          <input
            matInput
            type="text"
            placeholder="Master in Computer Science..."
            formControlName="primaryInfo"
            maxlength="40"
          />
        </mat-form-field>


        <!--    <div class="form-group mt-2">
              <label class="form-label">{{ formExperience?.getPrimaryInfoLabel() }}</label>
              <input
                matInput
                type="text"
                name="primaryInfo"
                placeholder="{{'Agregar '+ formExperience?.getPrimaryInfoLabel() }}"
                formControlName="primaryInfo"
                class="form-control"
                maxlength="30"
              />
            </div>-->

        <label class="container-label">{{ formExperience?.getSecondaryInfoLabel() }}</label>
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <mat-label>{{'Agregar una ' + formExperience?.getSecondaryInfoLabel()}}</mat-label>
          <input
            matInput
            type="text"
            placeholder="University of San Francisco..."
            formControlName="secondaryInfo"
            maxlength="40"
          />
        </mat-form-field>

        <div class="form-group mt-2 section-date">
          <div class="input-group-prepend">
            <span class="container-label">Fecha inicial:</span>
            <app-date-picker
              [dateSettings]="initialDateSettings"
              (onDateChange)="setInitialControlDate($event)"
            ></app-date-picker>
          </div>
          <div class="input-group-prepend">
            <span class="container-label row">
              <span class="col">Fecha final:</span>
              <mat-checkbox
                class="col"
                formControlName="presentDate"
                (change)="setPresentDate($event)"
              >
                Presente
              </mat-checkbox>
            </span>
            <app-date-picker
              [dateSettings]="finalDateSettings"
              (onDateChange)="setFinalControlDate($event)"
            ></app-date-picker>
          </div>
        </div>

        <label class="container-label">Descripción</label>
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <mat-label>Agregar una descripción</mat-label>
          <textarea
            matInput
            placeholder="Computer Science..."
            formControlName="description"
            rows="5"
            maxlength="371"
            [ngStyle]="{resize: 'none'}"
          >
          </textarea>
        </mat-form-field>

        <div class="form-group col-md-12 text-center mt-2 mb-5">
          <!--          class="btn btn-primary btn-lg"-->
          <button mat-raised-button color="primary" type="submit">
            {{formConfig.experienceIsNew ? 'Agregar' : 'Actualizar'}}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
