<div *ngIf="this.formIsAvailable">
  <div class="row justify-content-md-center px-sm-5 px-lg-0">
    <div class="col-lg-8 container-form">
      <form class="form mat-typography" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div>
          <label class="container-label">{{ formExperience?.getPrimaryInfoLabel() }}</label>
        </div>
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <input
            matInput
            type="text"
            placeholder="{{'Agregar un ' + this.formExperience?.getPrimaryInfoLabel()}}"
            formControlName="primaryInfo"
            maxlength="40"
          />
          <mat-error *ngIf="form.get('primaryInfo')?.hasError('required')">
            {{'El campo ' + this.formExperience?.getPrimaryInfoLabel() + ' es requerido'}}
          </mat-error>
        </mat-form-field>

        <label class="container-label mat-body-2">{{ this.formExperience?.getSecondaryInfoLabel() }}</label>
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <input
            matInput
            type="text"
            placeholder="{{'Agregar una ' + this.formExperience?.getSecondaryInfoLabel()}}"
            formControlName="secondaryInfo"
            maxlength="40"
          />
          <mat-error *ngIf="form.get('secondaryInfo')?.hasError('required')">
            {{'El campo ' + this.formExperience?.getSecondaryInfoLabel() + ' es requerido'}}
          </mat-error>
        </mat-form-field>

        <div
          class="form-group mt-2 d-flex flex-wrap align-content-center flex-column flex-lg-row justify-content-lg-around">
          <div class="input-group-prepend">
            <span class="container-label mat-body-2">Fecha inicial:</span>
            <app-date-picker
              [dateSettings]="initialDateSettings"
              (onDateChange)="setInitialControlDate($event)"
            ></app-date-picker>
          </div>
          <div class="input-group-prepend">
            <span class="container-label row">
              <span class="col mat-body-2">Fecha final:</span>
              <mat-checkbox
                class="col"
                formControlName="presentDate"
                (change)="setPresentDate($event)"
              >
                Presente
              </mat-checkbox>
            </span>
            <app-date-picker
              [dateSettings]="finalDateSettings"
              (onDateChange)="setFinalControlDate($event)"
            ></app-date-picker>
          </div>
        </div>

        <label class="container-label mat-body-2">Descripción</label>
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
          <textarea
            matInput
            placeholder="Agregar una descripción"
            formControlName="description"
            rows="5"
            maxlength="371"
            [ngStyle]="{resize: 'none'}"
          >
          </textarea>
          <mat-error *ngIf="form.get('description')?.hasError('required')">
            El campo descripción es requerido
          </mat-error>
        </mat-form-field>

        <div class="form-group col-md-12 text-center my-2">
          <button mat-fab extended color="primary" type="submit">
            {{formConfig.experienceIsNew ? 'Agregar' : 'Actualizar'}}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
