.sectionDate{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

@media(min-width: 992px){
    .sectionDate{
        flex-direction: row;
        justify-content: space-around;
    }
}