.section-date{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.contariner-label{
    display: flex;
    overflow: hidden;
    align-items: center;
/*     text-align: center; */
    padding: 0;
    margin: 0;
    max-width: 248px;
    height: 38px;
    background-color: #e9ecef;
/*     border: 1px solid #ced4da; */
    border-radius: 0.4rem 0.4rem 0 0;
}

@media(min-width: 992px){
    .section-date{
        flex-direction: row;
        justify-content: space-around;
    }
}