
<mat-form-field appearance="fill" class="mt-0">
  <mat-label>Mes y Año</mat-label>
  <input 
    matInput 
    [matDatepicker]="dp" 
    [formControl]="date" 
    [min]="minDate" 
    [max]="maxDate"
    placeholder="Seleccionar una fecha"
    >
  <mat-hint>MM-YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (monthSelected)="setMonthAndYear($event, dp)"
                  panelClass="example-month-picker"
                  disabled="false"
                  >
  </mat-datepicker>
</mat-form-field>
<!-- 
<button (click)="onClickeable()">Imprimir</button> -->