<div>
  <mat-form-field appearance="fill">
    <mat-label>Tecnologías utilizadas</mat-label>
    <mat-chip-grid #chipGrid aria-label="Technologies">
      <mat-chip-row *ngFor="let fruit of technologies" (removed)="remove(fruit)">
        {{fruit}}
        <button matChipRemove [attr.aria-label]="'remove ' + fruit">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input placeholder="Agregar más..." #technologyInput [formControl]="technologyCtrl"
           [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="add($event)"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
        {{skill}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
