
.semicircle {
  position: relative;
  background: #AD8E70;
  height: 0;
  margin-bottom: 6rem;
}

.semicircle::before {
  position: absolute;
  content: '';
  left: 50%;
  z-index: 10;
  width: 100%;
  height: 65px;
  border-radius: 0 0 50% 50%;
  background: inherit;
  transform: translateX(-50%) translateY(50%);
  bottom: -32px;
}

.container {
  margin-top: 8rem;
}

.container-profile {
  box-shadow: 0 2px 4px #243763;
  border-radius: 0 0 15px 15px;
  background-size: cover;
  overflow: visible;
}

.image {
  height: 130px;
  width: 130px;
  /*background-image: url('https://xp.io/storage/15pewlWA.jpg');*/
  background-size: cover;
  border-radius: 50%;
  border: 8px solid #FFEBB7;
  position: relative;
  top: -45px;
  margin: 0 auto;
  box-shadow: 0 2px 15px rgb(58, 54, 54);
  z-index: 20;
}

.highlight {
  color: rgb(105, 100, 109);
}

/* Para que funcione transform del icono */
a {
  text-decoration: none;
  display: flex;
}


.icon {
  margin: 0 1rem;
  font-size: 20px;
  transition: 0.3s;
  color: rgb(36, 55, 99);
}

.icon:hover {
  transform: scale(1.1);
  color: rgb(255, 110, 49);
}

@media (max-width: 768px) {
  .container {
    margin-top: 4rem;
  }
}



