
.semicircle {
  position: relative;
  background: #AD8E70;
  height: 0px;
}

.semicircle::before {
  position: absolute;
  content: '';
  left: 50%;
  z-index: 10;
  width: 100%;
  height: 65px;
  border-radius: 0 0 50% 50%;
  background: inherit;
  transform: translateX(-50%) translateY(50%);
  bottom: -32px;
}

.container {
  margin-top: 8rem;
}

.container-profile {
  height: 450px;
  box-shadow: 0 2px 4px #243763;
  border-radius: 0 0 20px 20px;
  background-size: cover;
  overflow: visible;
  /*border: 1px solid #243763;*/
}

.content-profile {
  height: 70%;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /*align-content: space-between;*/
}

.container-profile .image {
  height: 130px;
  width: 130px;
  /*background-image: url('https://xp.io/storage/15pewlWA.jpg');*/
  background-size: cover;
  border-radius: 50%;
  border: 8px solid #FFEBB7;
  position: relative;
  top: -45px;
  margin: 0 auto;
  box-shadow: 0 2px 15px rgb(58, 54, 54);
  z-index: 20;
}

.highlight {
  color: rgb(105, 100, 109);
}

a {
  display: flex;
}

.icons {
  margin-top: 2rem;
  display: flex;
}

.icons .icon-style {
  margin: 0 1rem;
  font-size: 20px;
  transition: 0.3s;
  color: rgb(36, 55, 99);
}

.icons .icon-style:hover {
  transform: scale(1.1);
  color: rgb(255, 110, 49);
}

.content {
  line-height: 2;
}


@media (min-width: 768px) {
  .content {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin: 0 5rem;
  }
}

@media screen and (max-width: 576px) {
  .content {
    margin: 0 1rem;
  }
}



