<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container-profile mat-typography">
        <div class="semicircle">
          <div class="image"></div>
        </div>
        <div class="content-profile">
          <div>
            <h2>Michael Mena</h2>
            <h3 class="highlight">Full Stack Developer Jr</h3>
          </div>
          <p class="content">
            I am a Full Stack Developer Jr, I have experience in the development of web applications,
            i am passionate about technology and I am always looking for new challenges.
          </p>
          <div class="icons">
            <a href="https://github.com/MIchael-Mena">
              <fa-icon
                [icon]="faGithub"
                class="icon-style"
                size="lg"
                title="GitHub">
              </fa-icon>
            </a>

            <a href="https://www.linkedin.com/in/michael-mena-3b9b3b218/?original_referer=">
              <fa-icon
                [icon]="faLinkedin"
                class="icon-style"
                size="lg"
                title="Linkedin">

              </fa-icon>
            </a>
            <a href="mailto:michael.mena2408@gmail.com">
              <fa-icon
                [icon]="faEnvelope"
                class="icon-style"
                size="lg"
                title="Email">
              </fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
