<form class="form mat-typography px-sm-4 px-lg-5 px-2 container-modal d-flex flex-column justify-content-evenly "
      [formGroup]="form"
      (ngSubmit)="onSubmit()">

  <h2 class="text-center py-3 text-light">
    {{this.action.action + ' red social'}}
  </h2>

  <mat-form-field appearance="fill" [hideRequiredMarker]="true">
    <input matInput
           type="text"
           formControlName="name"
           placeholder="Ingrese el nombre de la red social"
           maxlength="30"
    />
    <mat-label>Nombre</mat-label>
    <mat-error *ngIf="form.get('name')?.hasError('required')">
      El nombre es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" [hideRequiredMarker]="true">
    <input matInput
           type="text"
           formControlName="link"
           placeholder="Ingrese el enlace a la red social"
           maxlength="100"
    />
    <mat-label>Enlace</mat-label>
    <mat-error *ngIf="form.get('link')?.hasError('required')">
      El enlace es requerido
    </mat-error>
    <mat-error *ngIf="form.get('link')?.hasError('emailOrLinkInvalid')">
      El enlace debe ser una url válida o un email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Position</mat-label>
    <mat-select formControlName="position">
      <mat-option *ngFor="let position of action.positions" [value]="position">
        {{position}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-select-file class="d-inline-block w-100"
                   [previewFileString]="this.preview"
                   [hasRequiredError]="this.iconHasRequiredError"
                   (onChooseFileToString)="setSvg($event)">
  </app-select-file>

  <app-button-modal [isWaiting]="this.isLoading"
                    (onClickCancel)="this.onClose()"
                    [buttonSettings]="this.buttonSettings">
  </app-button-modal>

</form>
