<div class="container">
  <div class="container-profile mat-typography">

    <div class="semicircle">
      <div class="image" #imageURL id="imageURL">
        <fa-icon
          [icon]="faImagePortrait"
          class="icon-style position-portrait"
          size="xl"
          (click)="editProfileImage()"
          title="Editar"
          *ngIf="isLoggedIn"
        ></fa-icon>
      </div>

    </div>

    <div class="row justify-content-center align-items-center px-2">
      <div class="col col-12 col-md-6 col-lg-8 text-center" [ngSwitch]="isLoading">
        <div *ngSwitchCase="true" class="py-5 d-flex justify-content-center">
          <mat-spinner diameter="100"></mat-spinner>
        </div>

        <div *ngSwitchCase="false">
          <app-name [data]="this.name" [html]="this.nameHTML" [inputType]="'text'" [label]="'Nombre'">
          </app-name>

          <app-name [data]="this.title" [html]="this.titleHTML" [inputType]="'text'" [label]="'Título'">
          </app-name>

          <app-name [data]="this.description" [html]="this.descriptionHTML" [inputType]="'textarea'"
                    [label]="'Descripción'">
          </app-name>

          <!--        <button (click)="test(imageURL)">test</button>-->

          <div class="d-flex my-4 justify-content-center position-relative">
            <div *ngFor="let social of this.aboutMe?.social">
              <a href="{{social.url}}" class="d-flex text-decoration-none">
                <mat-icon svgIcon="{{social.name}}" aria-hidden="false" aria-label="SVG icon"
                          color="primary" class="icon"></mat-icon>
              </a>
            </div>
            <div class="d-flex position-absolute end-0 me-1" *ngIf="isLoggedIn">
              <fa-icon
                [icon]="faPenToSquare"
                class="icon-style"
                size="lg"
                (click)="editProfileImage()"
                title="Editar"
              ></fa-icon>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
