<section id="about">
  <div class="container py-3">
    <div class="container-profile mat-typography">

      <div class="semicircle">
        <div class="image" #imageURL id="imageURL">
          <fa-icon
            [icon]="faImagePortrait"
            class="icon-style position-portrait"
            size="xl"
            (click)="editProfileImage()"
            title="Editar"
            *ngIf="isLoggedIn"
          ></fa-icon>
        </div>

      </div>

      <div class="row justify-content-center align-items-center px-2">
        <div class="col col-12 col-md-10 col-lg-8 text-center">
          <app-global-spinner [isLoading]="this.isLoading"
                              [diameter]="200">
          </app-global-spinner>

          <app-field [data]="this.nameData"
                     (dataChange)="updateName($event)"
                     [isVisible]="!this.isLoading">
          </app-field>

          <app-field [data]="this.titleData"
                     [isVisible]="!this.isLoading"
                     (dataChange)="updateTitle($event)">
          </app-field>

          <app-field [data]="this.descriptionData"
                     [isVisible]="!this.isLoading"
                     (dataChange)="updateDescription($event)">
          </app-field>

          <app-social-network></app-social-network>

        </div>
      </div>

    </div>
  </div>
</section>
