/* Para cambiar el background del input solo en este componente */
/*:host ::ng-deep .mdc-text-field {
  background-color: #FFEBB7
}*/

.container-title {
  background-color: #243763;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0rem 0rem 0rem;
}

.input-field {
  min-width: 300px;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.card-login {
  overflow: hidden;
  border-radius: 10%;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
