<div class="d-flex justify-content-center align-items-center mx-2 login">
  <mat-card class="card-login">
    <div class="container-title mb-5">
      <mat-card-title class="text-center py-4 text-light">Bienvenido</mat-card-title>
    </div>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <p>
          <mat-form-field class="input-field prueba" appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Email</mat-label>
            <input
              type="text"
              matInput
              formControlName="email"
              maxlength="50"
            >
            <!--suppress TypeScriptUnresolvedFunction -->
            <mat-error *ngIf="this.controlEmail.hasError('email') && !this.controlEmail.hasError('required')">
              Por favor ingrese un Email valido
            </mat-error>
            <!--suppress TypeScriptUnresolvedFunction -->
            <mat-error *ngIf="this.controlEmail.hasError('required')">
              Email es requerido
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="input-field" appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Password</mat-label>
            <input
              [type]="hide ? 'password' : 'text'"
              matInput
              formControlName="password"
              maxlength="50"
            >
            <span matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                  type="button"
                  class="mx-2"
            >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <!--suppress TypeScriptUnresolvedFunction -->
            <mat-error *ngIf="this.controlPassword.hasError('required')">
              Contraseña es requerida
            </mat-error>
          </mat-form-field>
        </p>

        <label
          *ngIf="error"
          class="error mat-caption my-2"
          style="border-radius: 5px">
          Contraseña o Email invalido.
        </label>
        <app-button-confirm [isWaiting]="this.isLoading"
                            [buttonSettings]="{onConfirmText: 'Ingresar', onWaitingText: 'Cargando...'}"
                            [icon]="'start'"
                            class="d-flex justify-content-end">
        </app-button-confirm>

      </form>
    </mat-card-content>
  </mat-card>
</div>
