/* Para cambiar el background del input solo en este componente si el input es fill*/
/*:host ::ng-deep .mdc-text-field {
  background-color: #FFEBB7
}*/
/* Si el input es outline */
/*.mdc-text-field {
  background-color: #FFEBB7
}*/

.login {
  margin-top: 14vh;
}


.container-title {
  background-color: #243763;
}

.input-field {
  width: 260px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.card-login {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

@media (min-width: 600px) {
  .input-field {
    width: 300px;
  }
}
