#home {
  position: relative;
  background: linear-gradient(to bottom, #243763, #2F6690);
  padding: 30px;
  text-align: center;
  border: 4px double #243763;
  transition: all 1s ease-in-out;
  /*animation: slideHome 7s infinite;*/
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.logo-home {
  width: auto;
  min-height: 300px;
  color: #ffebb7;
}

#home:hover {
  border-color: #FFEBB7;
}

#home:hover h1, #home:hover h3, #home:hover .banner {
  text-shadow: 1px 1px 2px #FFEBB7;
}

#home h1 {
  margin-bottom: 0;
  color: #FFEBB7;
  border: 2px solid #fff;
  border-bottom: 0;
  text-shadow: 1px 1px 4px #243763;
  transition: all 0.5s ease-in-out;
  /*animation: slideColor 7s infinite;*/
}

#home h3 {
  padding: 10px;
  color: #FFEBB7;
  border: 2px solid #fff;
  border-top: 0;
  text-shadow: 1px 1px 4px #243763;
  transition: all 0.5s ease-in-out;
  /*animation: slideColor 7s infinite;*/
}


.banner {
  border-radius: 25px;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border: 2px solid #fff;
  /*animation: slideColor 7s infinite;*/
}


.banner img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  #home {
    padding: 10px;
  }

  #home h1 {
    font-size: 1.5rem;
  }

  #home h3 {
    font-size: 1.2rem;
  }

  .logo-home {
    width: 100%;
    height: auto;
    min-height: auto;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*@keyframes slideHome {
  0% {
    transform: skew(-5deg) rotate(-1deg);
  }
  50% {
    transform: skew(5deg) rotate(1deg);
  }
  100% {
    transform: skew(-5deg) rotate(-1deg);
  }

}

@keyframes slideColor {
  0% {
    transform: skew(5deg) rotate(1deg);
  }
  50% {
    transform: skew(-5deg) rotate(-1deg);
    !*background-color: #ad8e70;*!
  }
  100% {
    transform: skew(5deg) rotate(1deg);
  }

}*/

