#home {
  position: relative;
  /*background-color: #FFEBB7;*/
  background: linear-gradient(to bottom, #243763, #2F6690);
  padding: 30px;
  text-align: center;
  border: 2px solid #243763;
  border-radius: 25px;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);*/
  transition: all 1s ease-in-out;
  /*animation: slideHome 7s infinite;*/
  opacity: 0;

  animation: fadeIn 1s ease-in-out forwards, pulse 3s infinite;
}

#home:hover {
  background: linear-gradient(to bottom, #FFEBB7, #fdfdfd);
  border-color: #FFEBB7;
}

#home:hover h1, #home:hover h3, #home:hover .banner {
  text-shadow: 1px 1px 2px #FFEBB7;
}

#home h1 {
  margin-bottom: 0;
  border-radius: 15px 15px 0 0;
  /*background-color: #ad8e70;*/
  color: #FFEBB7;
  background-color: #243763;
  border: 2px solid #fff;
  text-shadow: 1px 1px 4px #243763;
  transition: all 0.5s ease-in-out;

  /*animation: slideColor 7s infinite;*/
}

#home h3 {
  padding: 10px;
  border-radius: 0 0 15px 15px;
  /*background-color: #ad8e70;*/
  color: #FFEBB7;
  background-color: #243763;
  border: 2px solid #fff;
  text-shadow: 1px 1px 4px #243763;
  transition: all 0.5s ease-in-out;

  /*animation: slideColor 7s infinite;*/
}


.banner {
  border-radius: 25px;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border: 2px solid #fff;

  /*animation: slideColor 7s infinite;*/
}


.banner img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.admin {
  font-size: 1.2rem;
  box-shadow: 5px 5px 10px #243763;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 20px;
  background-color: #ff6e31;
  transform: skew(-5deg) rotate(-1deg);
  transition: all 0.5s ease;
  position: absolute;
  right: -15px;
  top: -25px;
}

#home:hover .admin {
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px 5px rgba(121, 121, 121, 0.3);
  }
  50% {
    box-shadow: 0 0 10px 10px rgba(121, 121, 121, 0.7);
  }
  100% {
    box-shadow: 0 0 5px 5px rgba(121, 121, 121, 0.3);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*@keyframes slideHome {
  0% {
    transform: skew(-5deg) rotate(-1deg);
  }
  50% {
    transform: skew(5deg) rotate(1deg);
  }
  100% {
    transform: skew(-5deg) rotate(-1deg);
  }

}

@keyframes slideColor {
  0% {
    transform: skew(5deg) rotate(1deg);
  }
  50% {
    transform: skew(-5deg) rotate(-1deg);
    !*background-color: #ad8e70;*!
  }
  100% {
    transform: skew(5deg) rotate(1deg);
  }

}*/

