<div class="container text-center d-flex flex-column justify-content-center h-100">

  <div id="home" class="mat-typography">
    <div class="w-auto banner">
      <img src="assets/img/arg-programa.jpg" alt="arg-programa" class="">
    </div>
    <h1>Bienvenido a mi portfolio</h1>
    <h3>Soy Michael Mena, y aquí podrás ver mis proyectos y contactarme</h3>
    <div *ngIf="this.isLoggedIn">
      <h4 class="admin">
        MODO EDICIÓN ACTIVO
      </h4>
    </div>
    <!--    <h3>Si quieres ver mis proyectos, puedes hacerlo en la sección de proyectos</h3>-->
    <!--  <p>Si quieres contactarme, puedes hacerlo en la sección de contacto</p>-->
  </div>
</div>
