/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainContainer {
  position: relative;
  top: 8vh;
  height: calc(100vh - 8vh);
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  position: relative;
  height: 10vh;
  min-height: 80px;
  width: 100vw;

}

.main {
  min-height: calc(100vh - 18vh);
  height: max-content;
  width: 100vw;
}


@media (max-height: 900px) and (min-width: 992px) {
  /* Se activa cuando el ancho de la pantalla es mayor a 992px (desktop) y
  el alto es menor a 900px que es cuando el nav de 8vh llego a su tamaño mínimo,
  72 pixels para desktop*/
  #mainContainer {
    top: 72px;
    height: calc(100vh - 72px);
  }

  .main {
    min-height: calc(90vh - 72px);
  }
}

@media (max-height: 832px) and (max-width: 992px) {
  /* Se activa cuando el ancho de la pantalla es menor a 992px (mobile) y
  el alto es menor a 832px que es cuando el nav de 8vh llego a su tamaño mínimo,
  66,5 pixels para mobile */
  #mainContainer {
    top: 67px;
    height: calc(100vh - 67px);
  }

  .main {
    min-height: calc(90vh - 67px);
  }
}

.mat-mdc-form-field-error {
  color: white;
  background-color: #FF6E31;
  border-radius: 4px;
  margin-top: 0.2rem;
  padding: 0.2rem 0.5rem;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-form-field {
  margin-bottom: 0.8rem;
}

.mdc-text-field {
  background-color: #FFEBB7;
  border-radius: 4px !important;
}

body {
  overflow: hidden;
}

.icon-style-active {
  color: white !important;
}

.icon-style-active:hover {
  color: #FF6E31 !important;
}

.icon-style-active:before {
  background-color: rgb(36, 55, 99) !important;
}

.icon-style {
  color: rgb(36, 55, 99);
  height: auto;
  width: auto;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #6c757d);
  transition: 0.3s;
}

.icon-style::before {
  position: absolute;
  content: '';
  bottom: -5%;
  left: -5%;
  top: -5%;
  right: -5%;
  height: 110%;
  width: 110%;
  border-radius: 20%;
  background-color: rgb(241, 246, 245);
  z-index: -1;
}

.icon-style:hover {
  color: #FF6E31;
  transform: scale(1.1);
  filter: drop-shadow(4px 4px 4px #6c757d);
}

.icon-style:active {
  transform: translateY(1px);
}

.style-container-form {
  padding: 1rem 0;
  border: 2px solid #ff6e31;
  box-shadow: 0 2px 4px #ff6e31;
  border-radius: 10px;

}


/*.mat-icon {
  height: 48px !important;
  width: 48px !important;
}*/

