.card-style {
  border-left: 4px solid #243763;
  border-top: 4px solid #243763;
  border-radius: 20px 0 60%;
  overflow: hidden;
}

.card-style:hover {
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}
