<div class="main-box">
  <div class="erro-not-found d-flex justify-content-evenly">
    <div class="err">4</div>
    <fa-icon
      class="far fa-spin"
      [icon]="this.faCircleQuestion"
    ></fa-icon>
    <div class="err2">4</div>
  </div>
  <div class="mat-body-2 msg">
    <p>
      Esta página no se encuentra disponible.
    </p>
    <p class="d-inline-flex">
      Si escribiste la dirección manualmente, comprueba que esté bien escrita.
    </p>
    <p>
      Ir a la <a routerLink="/">página de inicio</a>.
    </p>
  </div>
</div>
