.main-box {
  /*background-color: #95c2de;*/
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err {
  color: #243763;
  font-family: 'Nunito Sans', sans-serif;
  /*font-family: 'Oswald', sans-serif;*/
  font-size: 11rem;
  position: relative;
  transition: 0.3s;
}

.far {
  position: relative;
  font-size: 8.5rem;
  color: #243763;
  transition: 0.3s;
}

.err2 {
  color: #243763;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position: relative;
  transition: 0.3s;
}

.err:hover, .err2:hover, .far:hover {
  color: #ff6e31;
  transform: scale(1.1);
  transition: 0.3s;
}

.msg {
  text-align: center;
  /*font-family: 'Nunito Sans', sans-serif;*/
  font-size: 1.6rem;
  position: relative;
  width: 75%;
  margin-inline: auto;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #ff6e31;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {

  .main-box {
    width: 100%;
    height: 100%;
    min-width: 0;
  }


  .err {
    font-size: 9rem;
  }

  .far {
    font-size: 7rem;
  }

  .err2 {
    font-size: 9rem;
  }

  .msg {
    font-size: 1.2rem;
  }

}
