.container-modal {
  width: 100%;
  min-height: 100%;
  background-color: #0000007F;
  overflow-y: auto;
}

:host ::ng-deep .mdc-text-field--filled {
  background-color: #FFEBB7
}

.double-input {
  width: 245px;
}

.button-modal {
  width: 350px;
}

@media (max-width: 576px) {
  .double-input {
    width: 100%;
  }

  .button-modal {
    width: 100%;
  }

}
