<form class="form mat-typography px-sm-4 px-lg-5 px-2 container-modal d-flex flex-column justify-content-evenly "
      [formGroup]="this.form"
      (ngSubmit)="onSubmit()">

  <h2 class="text-center py-3 text-light my-0">
    {{action.action + ' proyecto'}}
  </h2>

  <div class="d-flex justify-content-center  justify-content-sm-between flex-wrap">
    <mat-form-field appearance="fill" [hideRequiredMarker]="false"
                    floatLabel="always"
                    class="double-input">
      <input matInput
             type="text"
             formControlName="name"
             placeholder="Ingrese el nombre del proyecto"
             maxlength="100"
      />
      <mat-label>Proyecto</mat-label>
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        El nombre es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always" class="double-input">
      <mat-label>Fecha del proyecto</mat-label>
      <input matInput [matDatepicker]="picker2"
             placeholder="DD-MM-YYYY"
             formControlName="date">
      <!--    <mat-hint>DD/MM/YYYY</mat-hint>-->
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="form.get('date')?.hasError('required')">
        La fecha es requerida
      </mat-error>
    </mat-form-field>

  </div>

  <mat-form-field appearance="fill" [hideRequiredMarker]="true"
                  floatLabel="always">
    <input matInput
           type="text"
           formControlName="githubLink"
           placeholder="Ingrese un enlace a github"
           maxlength="100"
    />
    <mat-label>Enlace a github</mat-label>
    <mat-error *ngIf="form.get('githubLink')?.hasError('required')">
      El enlace es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always"
                  [hideRequiredMarker]="false">
    <textarea matInput
              type="text"
              formControlName="description"
              placeholder="Ingrese una descripción"
              maxlength="400"
              style="resize: none"
    ></textarea>
    <mat-label>Descripción</mat-label>
    <mat-error *ngIf="form.get('description')?.hasError('required')">
      La descripción es requerida
    </mat-error>
  </mat-form-field>

  <app-carousel class="my-2"
                [(slides)]="this.images">
  </app-carousel>

  <app-chips [(technologies)]="this.technologies"
             [skills]="this.skillNames">
  </app-chips>

  <app-button-modal [isWaiting]="this.isLoading"
                    class="mb-2 mx-auto button-modal"
                    (onClickCancel)="this.onClose()"
                    [buttonSettings]="this.buttonSettings">
  </app-button-modal>

</form>
