
.icon-style {
  color: rgb(36, 55, 99);
  background-color: rgb(241, 246, 245);
  border-radius: 30%;
  cursor: pointer;
  filter: drop-shadow(3px 3px 1.5px #6c757d);
}

.icon-style:hover {
  color: #FF6E31;
}

.icon-edit {
  display: flex;
  justify-content: flex-end;
}
