<div class="d-flex my-4 flex-lg-row flex-column align-items-center justify-content-center">
  <div class=" d-flex flex-column justify-content-center align-items-center container-figure">
    <span class="mat-subtitle-2 mb-1">{{this.skill.name}}</span>
    <mat-icon svgIcon="{{this.skill.icon.name}}" aria-hidden="false"
              aria-label="Example home icon"
              color="accent"
              class="mb-1"
    >
    </mat-icon>
  </div>

  <div class="d-flex">
    <span class="circle mx-2">
      <div class="fill skill-animation animation-delay-1"
           [ngClass]="{'active': skillLevel[0],'deactivate': !skillLevel[0]}">
      </div>
    </span>
    <span class="circle mx-2">
      <div class="fill skill-animation animation-delay-2"
           [ngClass]="{'active': skillLevel[1],'deactivate': !skillLevel[1]}">
      </div>
    </span>
    <span class="circle mx-2">
      <div class="fill skill-animation animation-delay-3"
           [ngClass]="{'active': skillLevel[2],'deactivate': !skillLevel[2]}">
      </div>
    </span>
    <span class="circle mx-2">
      <div class="fill skill-animation animation-delay-4"
           [ngClass]="{'active': skillLevel[3],'deactivate': !skillLevel[3]}">
      </div>
    </span>
    <span class="circle mx-2">
      <div class="fill skill-animation animation-delay-5"
           [ngClass]="{'active': skillLevel[4],'deactivate': !skillLevel[4]}">
      </div>
    </span>
  </div>

  <div class="d-flex flex-lg-column flex-row align-self-stretch justify-content-around">
    <fa-icon
      [icon]="faPenToSquare"
      class="icon-style my-1 ms-1"
      size="lg"
      (click)="editSkill()"
      title="Editar"
    >
    </fa-icon>
    <fa-icon
      [icon]="faTrashCan"
      class="icon-style my-1 ms-1"
      size="lg"
      (click)="openDeleteDialog('200ms','100ms')"
      title="Eliminar"
    >
    </fa-icon>
  </div>

</div>
