<div class="form mat-typography  px-lg-5 px-1 container-modal d-flex flex-column justify-content-evenly ">

  <div class="d-flex flex-column">
    <input
      style="display: none"
      type="file"
      (change)="onFileSelected($event)"
      accept="image/png, image/jpeg, image/jpg"
      #fileInput
    />
    <div class="py-2 d-flex flex-rows justify-content-around align-items-center">
      <button type='button' mat-fab (click)="fileInput.click()"
              style="background-color:#fff"
              title="Agregar imagen">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
      <!--        [src]="previewFileUrl ? 'assets/icon/png/profile-preview-alt.jpg' : (previewFileUrl | safe: 'url')"-->
      <img [src]="previewFileUrl" class="img-preview" alt="Imagen de perfil"/>
    </div>
    <mat-error class="mat-caption mt-1" [hidden]="isValidFormat">Archivo no válido</mat-error>
    <mat-error class="mat-caption mt-1" [hidden]="!imgHasRequiredError">El icono es requerido</mat-error>
  </div>

  <app-button-modal [isWaiting]="this.isLoading"
                    (onClickCancel)="this.onClose()"
                    (onClickConfirm)="this.saveImg()"
                    class="mb-2"
                    [buttonSettings]="this.buttonSettings">
  </app-button-modal>

</div>
