<div class="form mat-typography  px-lg-5 px-1 container-modal d-flex flex-column justify-content-evenly ">

  <div class="d-flex flex-column">
    <input
      style="display: none"
      type="file"
      (change)="onFileSelected($event)"
      accept="image/png, image/jpeg, image/jpg"
      #fileInput
    />
    <div class="py-2 d-flex flex-rows justify-content-around align-items-center">
      <button type='button' mat-fab (click)="fileInput.click()"
              style="background-color:#fff"
              title="Agregar imagen">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
      <!--        [src]="previewFileUrl ? 'assets/icon/png/profile-preview-alt.jpg' : (previewFileUrl | safe: 'url')"-->
      <img [src]="previewFileUrl" class="img-preview" alt="Imagen de perfil"/>
    </div>
    <mat-error class="mat-caption mt-1" [hidden]="isValidFormat">Archivo no válido</mat-error>
    <mat-error class="mat-caption mt-1" [hidden]="!imgHasRequiredError">El icono es requerido</mat-error>
  </div>

  <div class="d-flex flex-column">
    <button type='button' mat-fab extended [mat-dialog-close]="{state:false}" style="background-color:#fff">
      Cancelar
    </button>
    <span [ngSwitch]="this.isLoading">
      <button mat-fab extended color="primary" type="submit"
              *ngSwitchCase="false" class="w-100" (click)="saveImg()">
        Guardar
      </button>
      <button mat-fab extended color="primary" disabled="true" type="submit" *ngSwitchCase="true" class=" w-100">
        <mat-spinner [diameter]="20" [strokeWidth]="3" class="d-inline-block" color="warn"></mat-spinner>
        Guardando...
      </button>
    </span>
  </div>

</div>
