<mat-card class="mat-typography m-0 mx-auto" matRipple>
  <mat-card-header class="d-block">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <span class="date">{{project.date | date:'dd/MM/yyyy'}}</span>
      <div class="d-flex align-items-center">
        <fa-icon [icon]="faShare" size="xl" class="share-icon">
        </fa-icon>
        <ng-container *ngIf="this.isLogged">
          <app-menu-edition (onEdit)="editProject()"
                            (onDelete)="deleteProject()">
          </app-menu-edition>
        </ng-container>
      </div>
    </div>
    <h3 class="title mb-3">{{project.name}}</h3>
    <div class="card-image">
      <div class="card-img-top card-img-zoom-in"
           *ngFor="let image of project.images; let i = index">
        <!--      <a href="{{image.href}}">-->
        <img [src]="image.thumbnail"
             class="img-clickable"
             (click)="this.lightbox.open(i);"
             alt="{{project.name}">
        <!--      </a>-->
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="my-3">
    <!--    <div id="carouselExampleControls" class="carousel text-center slide" data-bs-ride="carousel"
             style="background-color: #000; color: #fff; padding: 1rem 0; border-radius: 5px">
          <div class="carousel-inner">
            <div class="carousel-item active">
              &lt;!&ndash;          <img src="..." class="d-block w-100" alt="...">&ndash;&gt;1
            </div>
            <div class="carousel-item">
              &lt;!&ndash;          <img src="..." class="d-block w-100" alt="...">&ndash;&gt;
              2
            </div>
            <div class="carousel-item">
              &lt;!&ndash;          <img src="..." class="d-block w-100" alt="...">&ndash;&gt;
              3
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>-->

    <p class="description">{{project.description}}</p>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <fa-icon [icon]="faGithub" size="2x" class="icon-footer"></fa-icon>
  </mat-card-footer>
</mat-card>
