<mat-card class="mat-typography m-0 " matRipple>
  <mat-card-header class="d-block">
    <div class="d-flex justify-content-between">
      <span class="date mb-2">{{project.date | date:'dd/MM/yyyy'}}</span>
      <fa-icon [icon]="faShare" size="xl" class="share-icon">
      </fa-icon>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="title my-0">{{project.name}}</h3>
      <ng-container *ngIf="this.isLogged">
        <app-menu-edition (onEdit)="editProject()"
                          (onDelete)="deleteProject()">
        </app-menu-edition>
      </ng-container>
    </div>

    <div class="card-image">
      <div class="card-img-top card-img-zoom-in"
           *ngFor="let image of project.images; let i = index">
        <!--      <a href="{{image.href}}">-->
        <img [src]="image.thumbnail"
             class="img-clickable"
             (click)="this.lightbox.open(i);"
             alt="{{project.name}">
        <!--      </a>-->
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="my-2">
    <p class="description">{{project.description}}</p>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <fa-icon [icon]="faGithub" size="2x" class="icon-footer"></fa-icon>
  </mat-card-footer>
</mat-card>
