/* Para que el scroll no se superponga al navbar */
main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainContainer {
  position: absolute;
  top: 8vh;
  height: calc(100vh - 8vh);
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  position: relative;
  height: 10vh;
  min-height: 50px;
  width: 100vw;
}

@media (max-height: 832px) and (max-width: 992px) {
  /*Cuando se abre el menu en mobile*/
  #mainContainer {
    top: 66px;
    height: calc(100vh - 66px);
  }

  .main {
    min-height: calc(90vh - 66px);
  }

}

@media (max-height: 832px) and (min-width: 992px) {
  #mainContainer {
    top: 72px;
    height: calc(100vh - 72px);
  }

  .main {
    min-height: calc(90vh - 72px);
  }

}
