<section class="main">
  <app-main-header [title]="'Proyectos'"
                   [icon]="'project'"
                   (onAdd)="this.addProject()">
  </app-main-header>

  <app-global-spinner [isLoading]="this.isLoading" [diameter]="200">
  </app-global-spinner>
  
  <div class="d-flex justify-content-center container my-0 my-md-3 my-lg-5 p-0"
       *ngIf="!this.isLoading">
    <div class="row justify-content-center row-cols-1 row-cols-md-2 row-cols-xl-3 w-100">
      <ng-container *ngFor="let project of projects">
        <app-card-project class="col p-0"
                          [project]="project"
                          (onEdit)="this.updateProject($event)"
                          (onDelete)="this.deleteProject($event)">
        </app-card-project>
      </ng-container>
    </div>
  </div>

</section>
