<section class="main">
  <app-main-header [title]="'Proyectos'"
                   [icon]="'project'"
                   (onAdd)="this.addProject()">
  </app-main-header>

  <div class="d-flex justify-content-center container my-0 my-md-3 my-lg-5">
    <div class="row">
      <app-card-project class="col-12 col-sm-6 col-lg-4 p-0"></app-card-project>
      <app-card-project class="col-12 col-sm-6 col-lg-4 p-0"></app-card-project>
      <app-card-project class="col-12 col-sm-6 col-lg-4 p-0"></app-card-project>
    </div>
  </div>

</section>
