<!-- hay que usar m-x-auto para centrar objetos si uso la opcion solo con d-flex-->
<!--<div class="d-flex align-items-center justify-content-center w-auto position-relative"-->
<div class="d-flex align-items-center" *ngIf="this.isVisible"
     [ngClass]="{'style-container-form py-3':this.activeEdit}">
  <div [ngSwitch]="this.activeEdit" class="w-100">

    <div *ngSwitchCase="false" [innerHTML]="this.data.html | safe: 'html'" class="d-inline-flex justify-content-center">
    </div>

    <div *ngSwitchCase="true"
         class="d-inline-flex flex-lg-row flex-column justify-content-around align-items-center w-100 ">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true" class="px-1">
        <mat-label>{{this.data.label}}</mat-label>
        <div [ngSwitch]="this.data.inputType">
          <input matInput *ngSwitchCase="'text'" type="text" class=""
                 [formControl]="this.newData" maxlength="40">
          <textarea matInput *ngSwitchCase="'textarea'" class=""
                    [formControl]="this.newData"
                    rows="5"
                    maxlength="371"></textarea>
        </div>
        <mat-error *ngIf="this.newData.hasError('required')">
          {{'El campo es requerido'}}
        </mat-error>
      </mat-form-field>

      <div [ngSwitch]="isWaitingResponse">
        <button mat-fab extended color="primary" (click)="saveData()" class="mx-1 my-1" *ngSwitchCase="false">
          Guardar
        </button>
        <button mat-fab extended color="primary" class="mx-1 my-1" *ngSwitchCase="true" disabled="true">
          <mat-spinner [diameter]="20" [strokeWidth]="3" class="d-inline-block" color="warn"></mat-spinner>
          Guardando...
        </button>
      </div>
    </div>

  </div>

  <div class="float-end me-1" *ngIf="isLoggedIn">
    <!--  <div class="position-absolute end-0 me-1" *ngIf="this.isLoggedIn">-->
    <fa-icon
      [icon]="faSquareCaretDown"
      class="icon-style d-flex"
      size="lg"
      (click)="editData()"
      title="{{this.activeEdit ? 'Cancelar' : 'Editar'}}"
    ></fa-icon>
  </div>

</div>
