.social-icon {
  transition: 0.1s;
}

.social-icon:hover {
  transform: scale(1.1);
  color: rgb(255, 110, 49);
}

:host .mat-icon {
  height: 28px;
  width: 28px;
}

.icon-style-drag {
  color: rgb(36, 55, 99);
}

.dragging {
  cursor: grab;
  outline: 1px solid #ccc;
  border-radius: 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .dragging:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
