<div class="d-flex align-items-center py-2 mb-3" *ngIf="this.isVisible"
     [ngClass]="{'style-container-form py-3':this.activeEdit}">

  <div class="float-start ms-2" *ngIf="this.activeEdit">
    <fa-icon
      [icon]="this.icons.faSquarePlus"
      class="icon-style d-flex mb-2"
      size="lg"
      (click)="openAddModal()"
      title="Agregar"
    ></fa-icon>
    <fa-icon
      [icon]="this.icons.faGrip"
      class="icon-style d-flex mt-2"
      [ngClass]="{'icon-style-active':this.activeDragAndDrop}"
      size="lg"
      (click)="activateDragAndDrop()"
      title="Ordenar"
    ></fa-icon>
  </div>

  <div class="w-100 d-inline-flex justify-content-center align-items-center gap-1 flex-wrap"
       cdkDropList cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop($event)">
    <div *ngFor="let social of this.socialNetworks" cdkDrag
         [cdkDragDisabled]="!this.activeDragAndDrop"
         [ngClass]="{'dragging':this.activeDragAndDrop&&this.activeEdit,
         'mx-3':!this.activeEdit, 'mx-1':this.activeEdit}">

      <a href="{{social.link}}" class="text-decoration-none">
        <mat-icon svgIcon="{{social.id}}" aria-hidden="false" aria-label="SVG icon"
                  [ngClass]="{'social-icon':!this.activeDragAndDrop,
                  'icon-style-drag':this.activeDragAndDrop}"
                  color="primary"></mat-icon>
      </a>

      <div class="" *ngIf="this.activeEdit">
        <app-menu-edition
          [disabled]="this.activeDragAndDrop"
          (onEdit)="openEditModal(social)"
          (onDelete)="openDeleteDialog(social)">
        </app-menu-edition>
        <!--        <fa-icon
                  [icon]="this.icons.faPenToSquare"
                  class="m-1"
                  [ngClass]="{'icon-style':!this.activeDragAndDrop, 'icon-style-drag':this.activeDragAndDrop}"
                  size="lg"
                  (click)="openEditModal(social)"
                  title="Editar">
                </fa-icon>
                <fa-icon
                  [icon]="this.icons.faTrashCan"
                  class="m-1"
                  [ngClass]="{'icon-style':!this.activeDragAndDrop, 'icon-style-drag':this.activeDragAndDrop}"
                  size="lg"
                  (click)="openDeleteDialog(social)"
                  title="Eliminar">
                </fa-icon>-->
      </div>

    </div>
  </div>

  <div class="float-end me-2" *ngIf="isLoggedIn">
    <fa-icon
      [icon]="this.icons.faSquareCaretDown"
      class="icon-style d-flex"
      size="lg"
      (click)="editSocialNetwork()"
      title="{{this.activeEdit ? 'Cancelar' : 'Editar'}}"
    ></fa-icon>
  </div>

</div>
