.icon-style-active {
  filter: drop-shadow(1px 1px 2px #6c757d);
  border-radius: 30%;
  cursor: pointer;
  color: rgb(241, 246, 245);
  background: rgb(36, 55, 99);
}

.icon-style-deactivate {
  filter: drop-shadow(1px 1px 2px #6c757d);
  border-radius: 30%;
  cursor: pointer;
  background: rgb(241, 246, 245);
  color: rgb(36, 55, 99);
}

/* TODO: repetido en css de cardExperience */
.icon-style-active:hover, .icon-style-deactivate:hover {
  color: #FF6E31;
  transform: scale(1.1);
  filter: drop-shadow(4px 4px 4px #6c757d);
}

section.resume-section {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  /*padding: 2rem 1rem;*/
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

section.resume-section .resume-section-content {
  width: 100%;
}

@media (min-width: 992px) {
  section.resume-section {
    /*padding: 5rem 3rem;*/
    padding: 0 3rem;
  }
}
