<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <div class="section-tittle ">
      <div class="mx-auto">
        <h1 class="mb-5 mat-h1" #target>{{experience?.title}}</h1>
      </div>
      <div *ngIf="isLoggedIn">
        <fa-icon
          class="icon"
          [icon]="faSquarePlus"
          [ngClass]="{'color-icon-deactivate': !formExperienceConfig.showForm, 'color-icon-active': formExperienceConfig.showForm}"
          (click)="showForm()"
          title="{{!formExperienceConfig.showForm ? 'Agregar' : 'Cancelar'}}"
          size="xl"
        >
        </fa-icon>
      </div>
    </div>

    <app-add-experience
      [formConfig]="formExperienceConfig"
      (onAddExperience)="addExperience($event)"
      (onUpdateExperience)="updateExperience($event)"
      [formExperience]="formExperience"
    >
    </app-add-experience>

    <app-spinner class="d-flex justify-content-center">
    </app-spinner>

    <app-card-experience
      *ngFor="let experience of experiences"
      [experience]="experience"
      (onEditExperience)="editExperience($event, target)"
      (onDeleteExperience)="deleteExperience($event)"
    >
    </app-card-experience>

  </div>
</section>
