<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <div class="d-flex justify-content-between">
      <div class="mx-auto">
        <h1 class="my-3 mat-h1" #target>{{experience?.title}}</h1>
      </div>
      <div *ngIf="isLoggedIn" class="d-flex my-auto">
        <fa-icon
          [icon]="faSquarePlus"
          [ngClass]="{'icon-style-deactivate': !formExperienceConfig.showForm, 'icon-style-active': formExperienceConfig.showForm}"
          (click)="showForm()"
          title="{{!formExperienceConfig.showForm ? 'Agregar' : 'Cancelar'}}"
          size="xl"
        >
        </fa-icon>
      </div>
    </div>

    <app-add-experience
      [formConfig]="formExperienceConfig"
      (onAddExperience)="addExperience($event)"
      (onUpdateExperience)="updateExperience($event)"
      [formExperience]="formExperience"
    >
    </app-add-experience>

    <app-spinner class="d-flex justify-content-center">
    </app-spinner>

    <app-card-experience
      *ngFor="let experience of experiences"
      [experience]="experience"
      (onEditExperience)="editExperience($event, target)"
      (onDeleteExperience)="deleteExperience($event)"
    >
    </app-card-experience>

  </div>
</section>
