
section.resume-section {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  /*padding: 2rem 1rem;*/
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

section.resume-section .resume-section-content {
  width: 100%;
}

@media (min-width: 992px) {
  section.resume-section {
    /*padding: 5rem 3rem;*/
    padding: 0 3rem;
  }
}
