<footer
  class="footer d-flex gap-2 gap-sm-3 flex-column align-items-center justify-content-center px-3 py-2 text-center mat-subtitle-2"
>
  <!-- Copyright -->
  <div>© 2024 Diseñado & Desarrollado por Michael Mena</div>
  <div>
    <a
      href="https://github.com/MIchael-Mena?tab=repositories&q=portfolio&type=&language=&sort="
      target="_blank"
      class="src-code"
    >
      <fa-icon [icon]="faCode" class="mr-3 icon-code"> </fa-icon>
      Código Fuente
    </a>
  </div>
  <!-- Copyright -->
</footer>
