<div class="d-flex align-items-center justify-content-around">

  <div class="d-flex flex-column">
    <button type='button' mat-fab (click)="this.addImage()"
            style="background-color:#fff"
            class="my-3"
            title="Agregar imagen">
      <mat-icon>add_photo_alternate</mat-icon>
    </button>

    <button type="button" mat-fab
            style="background-color:#fff"
            class="my-3"
            title="Eliminar imagen actual"
            (click)="this.removeCurrentImage()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <carousel [(activeSlide)]="activeSlideIndex"
            [showIndicators]="true"
            [isAnimated]="true"
            class="carousel-style text-center">
    <slide *ngFor="let slide of slides; let index=index">
      <img [src]="slide.thumbnail" alt="image slide" class="img-thumbnail p-0">
    </slide>
  </carousel>

</div>
