<div class="d-flex align-items-center justify-content-around">

  <div class="d-flex flex-column">
    <input type="file" #fileInput
           (change)="this.addImage($event)"
           accept="image/*"
           style="display: none">
    <button type='button' mat-fab (click)="fileInput.click()"
            [disabled]="this.imgLoading"
            style="background-color:#fff"
            class="my-3"
            title="Agregar imagen">
      <ng-container [ngSwitch]="this.imgLoading">
        <mat-spinner [diameter]="20" [strokeWidth]="3" *ngSwitchCase="true"
                     class="d-inline-block" color="warn">
        </mat-spinner>
        <mat-icon *ngSwitchCase="false">add_photo_alternate</mat-icon>
      </ng-container>
    </button>

    <button type="button" mat-fab
            [disabled]="!this.slides.length || this.imgLoading"
            style="background-color:#fff"
            class="my-3"
            title="Eliminar imagen actual"
            (click)="this.removeCurrentImage()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <carousel [(activeSlide)]="activeSlideIndex"
            [showIndicators]="true"
            [isAnimated]="true"
            class="carousel-style text-center">
    <slide *ngFor="let slide of slides; let index=index">
      <img [src]="slide.thumbnail" alt="image slide" class="img-thumbnail p-0">
    </slide>
  </carousel>

</div>
