header {
  position: fixed;
  width: 100%;
  z-index: 1000 !important;
}

.icon-display {
  transform: scale(1.8);
  cursor: pointer;
  color: #AD8E70;
}

/*Le asigno un tamaño para evitar que se desplace*/
.nav-item {
  height: 48px;
}

/*.icon-display:hover {
  color: #FF6E31;
}*/

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: rgb(241, 246, 245);
  /*background-color: transparent;*/
  transition: 0.4s ease;
  height: 72px;
  /*z-index: 1000 !important;*/
}

.nav-link, .navbar-brand {
  color: rgb(36, 55, 99);
  /*padding: 0 1rem;*/
}


.nav-link:hover, .navbar-brand:hover, .icon-display:hover, .home-button-active {
  color: #FF6E31;
}

/*.navbar-brand:hover {
  color: #FF6E31;
}*/

/*.home-button-active {
  color: #FF6E31;
}*/

.active-link {
  /*margin-top: 0.5rem;*/
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 5px;
  border-radius: 0 0 100% 100%;
  background-color: #FF6E31;
}

@media (max-width: 992px) {

  .nav-item {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    /*margin-top: 0.5rem;*/
  }

  #mainNav {
    height: auto;
  }


}


