<nav class="navbar navbar-shrink navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a
      class="navbar-brand"
      routerLink="home"
      routerLinkActive="active"
    >
      <span class="mat-subtitle-1">
      Portfolio
      </span>
    </a>

    <!--    button visible cuando media < 996px-->
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/about"
             routerLinkActive #rlaAbout="routerLinkActive"
          >
            <span class="mat-subtitle-2">
              About
            </span>
            <div [ngClass]="{'active-link mt-1':rlaAbout.isActive ,'':!rlaAbout.isActive }"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/experience&education"
             routerLinkActive #rlaEyE="routerLinkActive"
          >
            <span class="mat-subtitle-2">
            Experiencia & Educación
            </span>
            <div [ngClass]="{'active-link mt-1':rlaEyE.isActive ,'':!rlaEyE.isActive }"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/skills"
             routerLinkActive #rlaSkills="routerLinkActive"
          >
            <span class="mat-subtitle-2">
            Habilidades
            </span>
            <div [ngClass]="{'active-link mt-1':rlaSkills.isActive ,'':!rlaSkills.isActive }"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/projects"
             routerLinkActive #rlaProjects="routerLinkActive"
          >
            <span class="mat-subtitle-2">
            Proyectos
            </span>
            <div [ngClass]="{'active-link mt-1':rlaProjects.isActive ,'':!rlaProjects.isActive }"></div>
          </a>
        </li>

        <li class="nav-item" *ngIf="!storageService.isLogged">
          <a class="nav-link"
             routerLink="/login"
             routerLinkActive #rlaLogin="routerLinkActive"
          >
            <span class="mat-subtitle-2">
            Login
            </span>
            <div [ngClass]="{'active-link mt-1':rlaLogin.isActive ,'':!rlaLogin.isActive }"></div>
          </a>
        </li>
        <li class="nav-item" *ngIf="storageService.isLogged">
          <a class="nav-link"
             href=""
             (click)="logOut()"
          >
            <span class="mat-subtitle-2">
            Logout
            </span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

