<nav class="navbar mb-0 navbar-shrink navbar-expand-lg navbar-dark fixed-top py-0" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a
      class="navbar-brand logo"
      routerLink="home"
      routerLinkActive="home-button-active "
    >
      <mat-icon svgIcon="michael-logo" class="icon-home">
      </mat-icon>
    </a>

    <!--    button visible cuando media < 996px-->
    <button mat-icon-button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <mat-icon class="menu">menu</mat-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/about"
             routerLinkActive
             (isActiveChange)="this.routerActive($event, 'about')"
          >
            <span class="mat-subtitle-2">
            Acerca de mí
            </span>
            <div [ngClass]="{'active-link mt-1': this.routeAboutActive}"></div>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/skills"
             routerLinkActive
             (isActiveChange)="this.routerActive($event, 'skills')"
          >
            <span class="mat-subtitle-2">
            Habilidades
            </span>
            <div [ngClass]="{'active-link mt-1': routeSkillsActive}"></div>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/projects"
             routerLinkActive
             (isActiveChange)="this.routerActive($event, 'projects')"
          >
            <span class="mat-subtitle-2">
            Proyectos
            </span>
            <div [ngClass]="{'active-link mt-1': routeProjectsActive}"></div>
          </a>
        </li>

        <li class="nav-item ms-lg-3">
          <div [matMenuTriggerFor]="menu" class="d-grid">
            <fa-icon [icon]="this.icon.faUserSecret" class="icon-display" size="2xl"></fa-icon>
            <div [ngClass]="{'active-link mt-1':routeLoginActive ,'':!routeLoginActive }"></div>
          </div>
          <mat-menu #menu="matMenu" class="mat-menu-container">
            <a class="nav-link mat-menu"
               routerLink="/login"
               routerLinkActive
               (isActiveChange)="this.routerActive($event, 'login')"
               mat-menu-item *ngIf="!this.isLoggedIn">
              <fa-icon [icon]="this.icon.faArrowRightToBracket"
                       size="xl" style="color:#243763"></fa-icon>
              Iniciar Sesión
            </a>
            <button mat-menu-item
                    class="mat-menu"
                    *ngIf="this.isLoggedIn"
                    (click)="this.logOut()"
            >
              <fa-icon [icon]="this.icon.faArrowRightFromBracket"
                       size="xl" style="color:#243763"></fa-icon>
              Cerrar Sesión
            </button>

          </mat-menu>
        </li>

      </ul>
    </div>
  </div>
</nav>
