/*mat-card {
  border-left: 4px solid #243763;
  border-top: 4px solid #243763;
  border-radius: 20px 0 60%;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

mat-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-left: 4px solid #ff6e31;
  border-top: 4px solid #ff6e31;
}*/

.title {
  width: 100%;
  border-radius: 0 0 0 5px;
  border-left: 5px solid #ad8e70;
  border-bottom: 2px solid #ad8e70;
  padding-left: 10px;
  padding-bottom: 5px;
}

.mat-ripple-element {
  background-color: rgba(255, 255, 255, 0.4);
}

.mat-ripple-element::after {
  background-color: rgba(255, 255, 255, 0.2);
}

.accordion {
  border-left: 4px solid #243763;
  border-top: 4px solid #243763;
  transition: all 0.5s ease-in-out;
}

.accordion:hover {
  border-left: 4px double #ff6e31;
  border-top: 4px double #ff6e31;
}

.mat-expansion-panel-header {
  height: auto;
  min-height: 54px;
}

.custom-divider {
  height: 2px;
  border-style: groove;
  border-color: #243763;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

/* Para evitar que la sombra del boton agregar no sea vea correctamente (se corta)*/
:host ::ng-deep .mat-content {
  overflow: visible;
}

@media (max-width: 576px) {
  .mat-expansion-panel-header {
    padding: 0.3rem 1rem;
  }
}
