.animation-delay-1 {
  --delay: 0s;
}

.animation-delay-2 {
  --delay: 0.5s;
}

.animation-delay-3 {
  --delay: 1s;
}

.animation-delay-4 {
  --delay: 1.5s;
}

.animation-delay-5 {
  --delay: 2s;
}

@keyframes fillbar {
  to {
    transform: scaleX(1);
  }
}

.circle {
  display: inherit;
  height: 40px;
  width: 40px;
  background-color: #dddddd;
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.circle:hover {
  box-shadow: 0 0 4px 1px #969696;
  transform: scale(1.1);
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/*.circle:hover .active {
  box-shadow: 0 0 4px 1px #ff6e31;
}

.circle:hover .deactivate {
  box-shadow: 0 0 4px 1px #969696;
}*/

.skill-animation {
  animation: fillbar 0.4s forwards;
  animation-delay: var(--delay);
  transform: scaleX(0);
  transform-origin: 0 0;
}

.fill {
  height: 40px;
  width: 40px;
  border-radius: 0 50% 50% 0;

}

.active:hover {
  background-color: #ff6e31;
  transition: background-color 0.5s ease-in-out;
}

.active {
  background-color: #243763;
  transition: background-color 0.5s ease-in-out;
}

.deactivate {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.deactivate:hover {
  background-color: #969696;
  transition: background-color 0.5s ease-in-out;
}

:host .mat-icon {
  height: 48px;
  width: 48px;
  transition: transform 0.4s ease-in-out;
}

.container-figure {
  height: 75px;
  width: 83px;
}

.skill-icon:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}
