.container-skill {
  --html-skill: 0%;
}

/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box
}

/* Container for skill bars */
.container-skill {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  margin-bottom: 2rem;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {
  width: var(--html-skill); /* Set the width of the skill bar */
  background-color: #04AA6D;
}

/* Green */
.css {
  width: 80%;
  background-color: #2196F3;
}

/* Blue */
.js {
  width: 65%;
  background-color: #f44336;
}

/* Red */
.php {
  width: 60%;
  background-color: #808080;
}

/* Dark Grey */

.container {
  margin-top: 8rem;
}
