/* You can add global styles to this file, and also import other style files */

.mdc-text-field {
  background-color: #FFEBB7
}

.card-style {
  background-color: rgb(241, 246, 245) !important;
  border-radius: 0.6rem;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
