/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-mdc-form-field-error {
  color: white;
  background-color: #FF6E31;
  border-radius: 4px;
  margin-top: 0.2rem;
  padding: 0.2rem 0.5rem;

}

mat-form-field {
  width: 100%;
}

.mdc-text-field {
  background-color: #FFEBB7;
  border-radius: 4px !important;
}

body {
  overflow: hidden;
}

.icon-style {
  color: rgb(36, 55, 99);
  /*  height: 25px;
    width: 25px;*/
  /*background-color: rgb(241, 246, 245);*/
  /*border-radius: 30%;*/
  /*margin: auto auto;*/
  height: auto;
  width: auto;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px #6c757d);

}

.icon-style::before {
  position: absolute;
  content: '';
  bottom: -5%;
  left: -5%;
  top: -5%;
  right: -5%;
  height: 110%;
  width: 110%;
  border-radius: 20%;
  background-color: rgb(241, 246, 245);
  z-index: -1;

}

.icon-style:hover {
  color: #FF6E31;
  transform: scale(1.1);
  filter: drop-shadow(4px 4px 4px #6c757d);
}

.icon-style:active {
  transform: translateY(1px);
}


.container-icon-add {
  max-height: 21px;
  max-width: 21px;
  overflow: inherit;
}


.icon-add-active {
  filter: drop-shadow(1px 1px 2px #6c757d);
  border-radius: 30%;
  cursor: pointer;
  color: rgb(241, 246, 245);
  background: rgb(36, 55, 99);
}

.icon-add-deactivate {
  filter: drop-shadow(1px 1px 2px #6c757d);
  border-radius: 30%;
  cursor: pointer;
  background: rgb(241, 246, 245);
  color: rgb(36, 55, 99);
}

.icon-add-active:hover, .icon-add-deactivate:hover {
  color: #FF6E31;
  transform: scale(1.1);
  filter: drop-shadow(4px 4px 4px #6c757d);
}

.icon-add-active:active, .icon-add-deactivate:active {
  transform: translateY(1px);
}

.style-container-form {
  /*  border-left: 3px inset #243763;
    border-right: 3px inset #243763;
    box-shadow: 0 0 1px #243763;
    border-radius: 15px;*/
  padding: 1rem 0;
  border: 2px solid #ff6e31;
  box-shadow: 0 2px 4px #ff6e31;
  border-radius: 10px;

}


/*.mat-icon {
  height: 48px !important;
  width: 48px !important;
}*/
