/* You can add global styles to this file, and also import other style files */

.mdc-text-field {
  background-color: #FFEBB7;
}

body {
  overflow: hidden;
}


/*.mat-icon {
  height: 48px !important;
  width: 48px !important;
}*/
