<mat-form-field appearance="outline" [hideRequiredMarker]="true" class="mt-0">
  <mat-label>MM-YYYY</mat-label>
  <input
    matInput
    [matDatepicker]="dp"
    [formControl]="date"
    [min]="minDate"
    [max]="maxDate"
    (dateChange)="changeDateInput($event)"
    placeholder="Ingresar una fecha"
  >
  <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (monthSelected)="setMonthAndYear($event, dp)"
                  panelClass="example-month-picker"
                  color="accent"
  >
  </mat-datepicker>
  <mat-error *ngIf="date.touched && date.invalid">Fecha requerida.</mat-error>
</mat-form-field>

<!-- <button (click)="onClickeable()">Imprimir</button> -->
