.icon{
  filter:drop-shadow(3px 3px 1.5px #6c757d);
  border-radius: 30%;
  cursor: pointer;
}

.color-icon-active{
  color: rgb(241, 246, 245); 
  background: rgb(36, 55, 99)
}

.color-icon-deactive{
  background: rgb(241, 246, 245); 
  color: rgb(36, 55, 99)
}

.icon:hover{
  color: rgb(173, 142, 112);
}

.section-tittle {
  display: flex;
  justify-content: space-between;
}

section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

section.resume-section .resume-section-content {
  width: 100%;
}

/* Puedo controlar la posicion vertical de resume section */
@media (min-width: 768px) {
  section.resume-section {
    min-height: 75vh;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
