<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <div class="section-tittle">
            <h2 class="mb-5">Experience  </h2>
            <div>
                <fa-icon 
                    class="icon"
                    [icon]="faSquarePlus" 
                    [ngClass]="{'color-icon-deactive': !formExperienceConfig.showForm, 'color-icon-active': formExperienceConfig.showForm}"
                    (click)="showForm()"
                    title="{{!formExperienceConfig.showForm ? 'Agregar' : 'Cancelar'}}"
                    size="xl"
                    >
                </fa-icon>

            </div>
        </div>

        <app-add-experience
            [formConfig]="formExperienceConfig"
            (onAddExperience)="addExperience($event)"
            (onUpdateExperience)="updateExperience($event)"
            [formForTypeOfExperience]="typeExperience"
            >
        </app-add-experience>

        <app-card
            *ngFor="let experience of experiences"
            [experience]="experience"
            (onEditExperience)="editExperience($event)"
            (onDeleteExperience)="deleteExperience($event)"
            >
        </app-card>
    </div>
</section>