.divider {
  border: 0;
  height: 3px;
  text-align: center;
  background-image: linear-gradient(to left, #fff, #000, #fff);
}

.fill-nav {
  /*padding-top: 3rem;*/
}

@media (min-width: 992px) {
  .fill-nav {
    padding-top: 3rem;
  }
}
