.divider {
  border: 0;
  height: 3px;
  text-align: center;
  background-image: linear-gradient(to left, #fff, #000, #fff);
  /*margin: auto;*/
  /*background-color: rgb(255, 110, 49);*/
  /*width: 300px;*/
  /*border: none;*/
  /*box-shadow: 10px 10px 6px 5px rgb(255, 110, 49);*/
}
