<!--Los botones dentro de un formulario deben ser del type=button, de lo contrario-->
<!--se envia el formulario al dar click en el boton, y se pierde el evento click del boton -->

<form class="form mat-typography px-sm-4 px-lg-5 px-2 container-modal d-flex flex-column justify-content-evenly "
      [formGroup]="form"
      (ngSubmit)="onSubmit()">

  <h2 class="text-center py-3 text-light">
    {{action.action + ' habilidad'}}
  </h2>

  <mat-form-field appearance="fill" [hideRequiredMarker]="true">
    <input matInput
           type="text"
           formControlName="name"
           placeholder="Ingrese el nombre de la habilidad"
           maxlength="12"
    />
    <mat-label>Nombre</mat-label>
    <mat-error *ngIf="form.get('name')?.hasError('required')">
      El nombre es requerido
    </mat-error>
  </mat-form-field>

  <app-select-file class="d-block"
                   [previewFileString]="this.preview"
                   [hasRequiredError]="this.iconHasRequiredError"
                   (onChooseFileToString)="setSvg($event)">
  </app-select-file>

  <mat-form-field appearance="fill">
    <mat-label>Posición</mat-label>
    <mat-select formControlName="position">
      <mat-option *ngFor="let position of action.positions" [value]="position">
        {{position}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="d-block">
    <span class="mat-subtitle-2 text-light">Seleccione el nivel de la habilidad</span>
    <mat-slider
      class="w-100"
      color="primary"
      [max]="5"
      [min]="0"
      [step]="1"
      [discrete]="true"
      [showTickMarks]="true">
      <input matSliderThumb formControlName="level">
    </mat-slider>
  </div>

  <app-button-modal [isWaiting]="this.isLoading"
                    (onClickCancel)="this.onClose()"
                    class="mb-2"
                    [buttonSettings]="this.buttonSettings">
  </app-button-modal>

</form>

